.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--neutral-900);
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid var(--neutral-500);
  border-radius: var(--radius-md);
  background: var(--neutral-300);
  transition: var(--transition);
}

.input-group input:focus {
  border-color: var(--primary-500);
}
