.password-group {
  margin-bottom: 18px;
}

.password-group label {
  display: block;
  margin-top: 4px;
  color: var(--neutral-900);
}

.password-group input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid var(--neutral-500);
  border-radius: var(--radius-md);
  transition: var(--transition);
}

.password-group input:focus {
  border-color: var(--primary-500);
  box-shadow: 0 0 0 3px rgba(19, 99, 223, 0.14);
}

.password-group input.input-invalid {
  border-color: var(--error-500);
  background: var(--error-200);
}

.password-group input.input-invalid:focus {
  border-color: var(--error-500);
  box-shadow: 0 0 0 3px rgba(222, 41, 56, 0.14);
}
