.password-group label {
  display: block;
  margin-top: 4px;
  color: var(--neutral-900);
}

.password-group input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid var(--neutral-500);
  border-radius: var(--radius-md);
  transition: var(--transition);
}

.password-group input:focus {
  border-color: var(--primary-500);
}
